.whatsapp-float {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 58px;
  height: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: #25d366;
  color: white;

  text-decoration: none;
  z-index: 9999;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);

  transition: transform 0.25s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}